version: '3.3'

#acessar o bash do app: docker-compose start  + docker-compose exec app bash
services:
  dbtest:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
    volumes:
      - .docker/volumes/dbdatatests:/data/db
    tty: true
 #   expose:
 #     - 3306
    networks:
      - development-network

#  app:
#    build: .
#    entrypoint: .docker/entrypoint.sh
#    container_name: engconcBackend
#    ports:
#      - 3001:3001
#    volumes:
#      - ~/dev/docker/volumes/engconcurso:/home/node/app
#    depends_on:
#      - db
#    networks:
#      - development-network
networks:
  development-network:
    driver: bridge
